.button {
	font-size: 18px;
	font-weight: 700;
	border-radius: 8px;
	outline: 3px solid transparent;
}

.button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

.button:focus-visible {
	outline-color: var(--main-color);
}

.button.primary {
	color: var(--white-color);
	background-color: var(--primary-color);
}

.button.primary {
	transition: 0.3s background-color 0s ease;
}

.button.primary:hover {
	background-color: var(--accent-color);
}

.button.danger {
	color: var(--white-color);
	background-color: var(--error-color);
	transition: 0.3s background-color 0s ease;
}

.button.danger:hover {
	background-color: var(--error-color-hover);
}

.button.info {
	color: var(--white-color);
	background-color: var(--info-color);
	transition: 0.3s background-color 0s ease;
}

.button.info:hover {
	background-color: var(--info-color-hover);
}

.button.warning {
	color: var(--white-color);
	background-color: var(--warning-color);
	transition: 0.3s background-color 0s ease;
}

.button.warning:hover {
	background-color: var(--warning-color-hover);
}

.button.outline {
	color: var(--primary-color);
	background-color: var(--white-color);
	border: 1px solid var(--primary-color);
	transition: 0.3s color 0s ease, 0.3s background-color 0s ease, 0.3s border-color 0s ease;
}

.button.outline:hover {
	color: var(--white-color);
	border-color: var(--accent-color);
	background-color: var(--accent-color);
}

.button.sm {
	padding: 5px;
}

.button.md {
	padding: 8px 12px;
}

.button.circle {
	border-radius: 50%;
}
